
  <div class="list-group" id="quizz-list">
    <li class="list-group-item list-group-item-warning" id="main-list-title">Please choose a quizz from below:</li>
    <!-- This is where each quiz item goes. You get them from the templates -->
  </div>
  <button type="button" class="btn btn-primary" id='create-quizz-btn'>Create Quizz</button>

  <div class="panel panel-warning hidden" id="question-main"></div>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<div class="form-box hidden" id="add-quizz-form">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="quizz-title" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="quizz-title" placeholder="Add Quizz Title here">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-warning" id="add-quizz-btn">Add</button>
      </div>
    </div>
  </form>
</div>

  <script type="text/template" class="my-template">
    <a href="#" id="<%%= content.id %>" class="list-group-item quizz-title"><%%= content.title %></a>
  </script>

  <script type="text/template" class="my-template2">
    <div class="panel-heading"><%%= content.question %></div>
    <ul class="list-group" id="quizz-answers">
      <%%  _.each(content.choices, function(ans) { %>
        <a href="#" class="list-group-item answer-choice" data-toggle="modal" data-target="#myModal"><%%= ans %></a>
      <%% }); %>
    </ul>
  </script>

  <script type="text/template" class="my-template3">    
    <div class="modal-header">
      <h4 class="modal-title"><%%= content.response %></h4>
    </div>
    <div class="modal-body">
      <p>You scored: <%%= content.score %> Points</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-next">Next Question</button>
    </div>
  </script>
  