
  <div class="list-group">
    <li class="list-group-item list-group-item-warning">Please choose a quizz from below:</li>
    
    <script type="text/template" class="my-template">
      <a href="#" class="list-group-item"><%%= content.title %></a>
    </script>
    
  </div>


